.app-card {
  display: flex;
  flex-direction: column;
  padding: 15px 20px;
  border: 1px solid black;
  border-radius: 7px;
  width: 100%;
  max-width: 260px;
  min-width: 190px;
}
.app-card-body {
  display: flex;
  justify-content: space-between;
}
.app-card-body-left {
  display: flex;
  flex-direction: column;
  padding-right: 15px;
}
.app-card-footer {
  height: 15px;
}
