.list-container {
  vertical-align: top;
  padding: 10px 10px 0 10px;
  border-left: 1px solid #ddcdff;
  border-right: 1px solid #ddcdff;
  background-color: #fafafa;
  max-width: 274px;
}
.list-header {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  font-weight: bold;
}
.list-header-main {
  padding: 15px;
  display: flex;
  flex-direction: column;
}
.list-header-main-title {
  padding-bottom: 3px;
}
.list-header-main-count {
  font-size: 0.9rem;
  color: rgba(0, 0, 0, 0.4);
}
.list-header-options,
.list-header-icon {
  color: #a199b4;
  padding-top: 15px;
  cursor: pointer;
}
.list-add {
  display: flex;
  justify-content: center;
  background-color: white;
  padding: 7px 0 7px 0;
  box-shadow: 0px 2px 5px rgb(25 4 69 / 10%);
  border: 1px solid rgba(25, 4, 69, 0.15);
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-bottom: 3px;
}
.list-add:hover {
  box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.3);
}
.list-body-main {
  background-color: #ece9f2;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
  scrollbar-width: 0px;
  height: calc(46vh - 119px);
}
.list-body-main::-webkit-scrollbar {
  display: none;
}
@media only screen and (max-width: 1200px) {
  .list-container {
    height: 50%;
    min-width: 260px !important;
    max-width: 300px !important;
    margin-bottom: 5px;
    box-shadow: 1px 2px 5px rgb(25 4 69);
  }
  .list-body-main {
    height: calc(46vh - 119px);
  }
}

@media only screen and (min-width: 1200px) {
  .list-container {
    height: 98%;
  }
  .list-body-main {
    height: calc(100% - 119px);
  }
}

@media only screen and (max-width: 536px) {
  .list-container {
    box-shadow: 1px 2px 5px rgb(25 4 69);
    margin-bottom: 5px;
  }
}
