.white {
  background-color: white;
  color: black;
}
.red {
  background-color: #ff0000;
  color: white;
}
.light-red {
  background-color: rgb(255, 189, 189);
  color: black;
}
.salmon {
  background-color: #ff6b6b;
  color: white;
}
.orange {
  background-color: #ff8162;
  color: white;
}
.light-yellow {
  background-color: rgb(255, 254, 182);
  color: black;
}
.gold {
  background-color: #ffcd60;
  color: black;
}
.yellow {
  background-color: rgb(251, 255, 0);
  color: black;
}
.off-white {
  background-color: cornsilk;
  color: black;
}
.orange {
  background-color: rgb(255, 166, 0);
  color: black;
}
.hot-pink {
  background-color: rgb(255, 0, 179);
  color: white;
}
.light-orange {
  background-color: rgb(255, 213, 183);
  color: black;
}
.light-green {
  background-color: #85ffae;
  color: black;
}
.green {
  color: white;
  background-color: #00e448;
}
.dark-green {
  background-color: #25c47b;
  color: white;
}
.cyan {
  background-color: rgb(0, 255, 255);
  color: black;
}
.light-cyan {
  background-color: rgb(184, 255, 255);
  color: black;
}
.baby-blue {
  background-color: #8bfff7;
  color: rgb(0, 0, 0);
}
.light-blue {
  background-color: #1ca8e3;
  color: white;
}
.blue {
  background-color: #0070fb;
  color: white;
}
.true-blue {
  background-color: #0004ff;
  color: white;
}
.navy {
  background-color: #1c3554;
  color: white;
}
.royal-purple {
  background-color: rgb(81, 0, 128);
  color: white;
}
.purple {
  background-color: #6a4feb;
  color: white;
}
.light-purple {
  background-color: rgb(188, 43, 255);
  color: white;
}
.black {
  background-color: #190445;
  color: white;
}
.gray {
  background-color: #5c636b;
  color: white;
}
.light-pink {
  background-color: #ffdbfd;
  color: black;
}
.bubblegum {
  background-color: rgb(255, 167, 255);
  color: white;
}
.silver {
  background-color: rgb(216, 216, 216);
  color: black;
}
.ashe {
  background-color: azure;
  color: black;
}
