.openFavorites {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: white;
  cursor: pointer;
  position: fixed;
  bottom: 60px;
  right: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  transition: all 0.3s ease-in;
  filter: none;
}
.openFavorites:hover {
  background-color: black;
}
.openFavorites:hover > .openFavorites-icon {
  color: yellow;
}
.openFavorites-icon {
  color: black;
  transition: all 0.2s linear;
}
